/* 
* @Author: Marte
* @Date:   2017-06-19 23:18:44
* @Last Modified by:   Marte
* @Last Modified time: 2017-06-21 00:43:47
*/
html{
  
}
body{
 
}
.wrap{
   

    
  
  
}
.wrap1{
    width:31.33%;
    height:31.33vw;
    float:left;
    background-color: orange;
    border-radius: 10%;
    margin:1%;

}
