/* 
* @Author: Marte
* @Date:   2017-09-11 20:55:16
* @Last Modified by:   Marte
* @Last Modified time: 2017-09-14 17:18:50
*/
*{
    margin:0;
    padding:0;
}
body{
    width:100%;
   
}
.header{ 
    overflow: hidden;
    text-align: center;
    background-color: #5fc0cd;
    height:10vh;
    width:100%;

}
.main1{
    overflow: hidden;
    background-color: #ffffff;
     height:10vh;
    width:100%;
    margin:1vh 0 0 0;

}
.main2{
    overflow: hidden;
    background-color: #ffffff;
     height:10vh;
    width:100%;
    margin:1vh 0 0 0;

}
.footer{


}



.span1{
    position:absolute;
    left:3vh;
    top:3vh;
    color:#ffffff;
    font-size:3vh;
}
.span2{
    
    
    display:block;
    margin-top:2.5vh;
    color:#ffffff;
    font-size:4vh;

    
}
.span3{
    position:absolute;
    right:3vh;
    top:3vh;
    color:#ffffff;
    font-size:3vh;
}

img{
    position:absolute;
    height:10vh;
    width:12vh;
}
 .footer input{
    width:100%;
    background-color:#5fc0cd ;
    height:10vh;
    float:left;
    margin:0 auto;
    color:#ffffff;
    font-size: 4vh;
  
 }
input{
    
    display: inline;
    text-decoration: none;
    margin-left: 13vh;
    height:4vh;
    width:80%;
    border:0;
    font-size: 3vh;
    cursor:pointer;
    margin-top: 3vh;
    outline: none;

    }

.message span{
    float:right;
    color:#5fc0cd;
    text-decoration: underline;
    margin-right: 3vh;
    margin-top: 2vh;
    font-size:2.7vh;
}

a{
        float:right;
        margin-right: 3vh;
        margin-top: 2vh;
        color:#5fc0cd;
 }



::-webkit-input-placeholder { color:#bababa; }
::-moz-placeholder { color:#bababa; }
:-ms-input-placeholder { color:#bababa; } 
input:-moz-placeholder { color:#bababa; }