/* 
* @Author: Marte
* @Date:   2017-10-02 22:15:14
* @Last Modified by:   Marte
* @Last Modified time: 2017-10-20 03:51:39
*/
*{
    margin: 0;
    padding: 0;
}

html{
    width: 100%;
    height: 100%;
    
}

body{
    width: 100%;
    height: 100%;
    font-family:  sans-serif;
    text-align: center;
    
}
/*---------------head--------------*/

.header{
    position: fixed;
    top: 0;
    background-color: #29bde0;
    width: 100%;
    height: 10vh;

}

.tag1{
    background: url(images/page2.png) no-repeat ;
    background-size: 10vh;
    height: 4vh;
    width: 5vh;
    background-position: 0vh 0vh;
    float: left;
    margin-top: 3vh;
    margin-left: 2vh;
}
/*---------------content--------------*/

.content{
    margin-top: 10vh;
    width: 100%;
    background-color: #f0f0f0;
    height: 100%;
    padding-top: 3vh;
}

.content1{
    background-color: white;
    width: 95%;
    margin-left: 5%;
    font-size: 3.5vh;   
    overflow: hidden;


}
.p1{
    color: #aeaeae;
    padding-top: 3vh;
    padding-bottom: 3vh;
     

    
}
    

.tag2{
    
    float: right;
    background: url(images/page2.png) no-repeat ;
    background-size: 10vh;
    height: 6vh;
    width: 5vh;
    background-position: -5vh 0vh;
    
}


.content2{
    background-color: white;
    width: 95%;
    margin-left: 5%;
        
    overflow: hidden;
    margin-top: 3vh;

}

.content2-1{
    font-size: 3.5vh;
    border-bottom: #fcc76e 0.1vh solid;

}


.p2{
    display: inline-block;
    color: #fcc76e;
    padding-top: 2vh;
    padding-bottom: 2vh;
}

.content2-2{
    font-size: 3.5vh;
    width:100%;

}

.content2-2-1
{   
    float:left;
    width:90%;
    padding-top: 1.5vh;
    padding-bottom: 3vh;
   
    
}

.ceshi1{
    color: #fff;
}
.block{
    float:right;   
    background-color: #69d1e9;
    width: 88.8%;
    margin-top: 1.5vh;
    padding-top: 4vh;
    padding-bottom: 4vh;
    color: #d2f0f8;
}

.p3{
    display:inline-block;
    margin-left: 10%;   
    font-size: 2.8vh;
    width: 90%;
    margin-top: 1.5vh;
    color: #9c9c9c;
}

.content2-2-2
{    
    float:left;
    width:10%;
    height:65vh;
    
}



.tag3{
    margin-left: 50%;
    margin-top: 26vh;
    position:relative;
    left: -1.5vh;
    width: 0;
    height:0;
    border-style:solid;
    border-color: transparent transparent transparent #fbb435;
    border-width: 3vh;

}
/*---------------footer--------------*/


.footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    
    font-size: 3vh;
}

.circle1{
    color: #69d1e9;

}

.circle2{
    color: white;
}